/*
====================
   GENERAL STUFF
====================
*/

body{
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 50px;
}

html{
	position: relative;
	min-height: 100%;
}

code{
	font-family: Consolas, courier;
}

a{
	color: #003048;
}

.btn-primary{
	background-color: #122125;
	border-color: #122125;
}

.btn-primary:hover{
	background-color: #2E515A;
}

.btn-primary:active{
	background-color: #2E515A !important;
}

a{
	text-decoration: underline;
}

a.btn, .nav a{
	text-decoration: none;
}
/*
====================
HEADER / NAVIGATION
====================
*/
.navbar{
	border-radius: 0;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	
	z-index: 1;
	border: none;
}

.navbar.home{
	background-color: transparent;
}

.navbar.home ul.navbar-nav{
	font-size: 1.5em;
}

.navbar.home .navbar-nav li.active > a{
	background-color: transparent;
}

.navbar-collapse.in, .navbar-collapse.collapsing{
	background-color: #000;
}

ul.navbar-nav{
	float: right;
}

.navbar-brand{
	padding: 5px;
	opacity: 0.6;
	padding-top: 10px;
}

.navbar-brand:hover{
	opacity: 1;
}

.navbar-brand img{
	max-height: 40px;
	max-width: 140px;
}

/*
====================
      FOOTER
====================
*/

footer{
	box-sizing: border-box;
	background-color: #ccc;
	padding-top: 11px;
	min-height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer a{
	opacity: 0.7;
}

footer a:hover{
	opacity: 1;
}

footer a img{
	width: 100px;
	margin: 4px;
}

footer .container{
	position: relative;
}

footer .credits{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 5px;
	font-size: 0.9em;
	color: #20293F;
}

/*
====================
     HOME PAGE 
====================
*/

.home-presentation{
	background-image: url(../img/home-background.jpg);
	background-position: 50% 0;
	
	color: #fff;
	position: relative;
	padding-top: 80px;
	margin-top: -51px;
	margin-bottom: 0;
	padding-bottom: 60px;
}

.home-presentation:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;	
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0.9));
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,0.9));
}

.home-presentation .title-row{
	margin: 40px 0;
}

.home-presentation .container{
	position: relative;
}

.home-presentation .container h1 img{
	max-width: 100%
}

.home-presentation .container p.lead{
	margin-top: 10px;
}

.home-presentation .code-sample-container{	
	background-color: rgba(30,30,30,0.9);
	padding-top: 10px;
	border-radius: 5px;
	min-height: 140px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.home-presentation .code-sample-container .language{
	text-align: center;
	color: #ccc;
	border-bottom: 1px solid #444;
	padding-bottom: 4px;
	font-size: 0.8em;
}

.home-presentation .code-sample-container pre{
	background-color: transparent;
	position: relative;
	border: none;
	border-radius: 0;
}

.home-presentation p.lead-2{
	margin-top: 40px;
}

.home-presentation .btn-get-started{
	text-align: center;
	background-color: #fff;
	display: block;
	width: 300px;
	margin: 20px auto 0 auto;
	font-size: 26px;
}

section.home-section{
	padding-top: 80px;
	padding-bottom: 80px;
}

section.dark{
	background-color: #122125;
	color: #fff;
}

section.dark a{
	color: #fff;
	text-decoration: underline;
}

section.home-section h1{
	text-align: center;
	margin-bottom: 1.2em;
}

/*
====================
   SPECIFIC STUFF 
====================
*/

.why-use-woopsa:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0));
}

.why-use-woopsa{
	position: relative;
	background-image: url(../img/ipad-factory-2.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.why-use-woopsa h1{
	position: relative;
}

.why-use-woopsa dl{
}

.why-use-woopsa dt{
	font-size: 1.3em;
}

.why-use-woopsa dd{
	margin-bottom: 1.5em;
	text-align: justify;
}

.how-do-i-use p{
	text-align: justify;
}

.what-can-it-do .feature{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
	height: 200px;
}

.what-can-it-do .feature i.fa{
	font-size: 6rem;
}

.what-can-it-do .feature i.fa.flipped{
	transform: rotate(180deg);
}

.what-can-it-do .feature h2{
	font-size: 1.8em;
}

.what-can-it-do .feature h2{
	position: relative;
}

.what-can-it-do .feature h2 .coming-soon{
	font-size: 1rem;
	position: absolute;
	opacity: 0.7;
	right: 0;
	top: 25px;
}

.home-section.how-it-works{
	padding-bottom: 0;
}

.how-it-works .explanation{
	margin-bottom: 40px;
	text-align: justify;
}

.how-it-works .image{
	position: relative;
}

.how-it-works .image .code{
	position: absolute;
	transition: all 0.4s ease-out;
}

.how-it-works .image .code pre{
	border-color: #122125;
	color: #122125;
}

.how-it-works .image .code.request{
	top: 43%;
    left: 43%;
	margin-left: -100px;
	opacity: 0;
}

.how-it-works .image .code.response{
	top: 68%;
    left: 59%;
	margin-left: 100px;
	opacity: 0;
}

.how-it-works .image .code.request.visible, .how-it-works .image .code.response.visible{
	margin-left: 0;
	opacity: 1;
}