<footer class="site-footer">
	<div class="container text-right">
		<a href="/credits/" class="credits">Photo/image credits</a>
		<p>Woopsa is an open-source project maintained by <a href="http://www.objectis.ch" target="_blank"><img class="logo" src="{{ "/img/objectis-logo-black.png" | prepend: site.baseurl}}" alt="Objectis" /></a></p>
	</div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ "/js/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.inview.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/woopsa-website.js" | prepend: site.baseurl }}"></script>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>