<nav class="navbar navbar-inverse navbar-top {% if page.url == '/index.html' %}home{% endif %}">
	<div class="container">			
		{% unless page.url == '/index.html' %}
		<a class="navbar-brand" href="/"><img src="{{ "/img/woopsa-logo-white.png" | prepend: site.baseurl }}" alt="Woopsa" /></a>
		{% endunless %}
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{% for p in site.pages %}
					{% if p.title and p.hidden != 1 %}
					<li class="page-link {% if p.url == page.url %}active{% endif %}"><a href="{{ p.url | prepend: site.baseurl }}"><i class="fa {{ p.icon }}"></i> {{ p.title }}</a></li>
					{% endif %}
				{% endfor %}
				<li><a href="https://github.com/woopsa-protocol/Woopsa"><i class="fa fa-github"></i> Source code</a></li>
			</ul>
		</div>
	</div>
</nav>
