.specifications h2{
	border-top: 1px solid #ccc;
	padding-top: 15px;
}

.specifications samp{
	font-weight: bold;
}

.specifications dl.dl-standard dt{
	padding-top: 5px;
}

.specifications dl.dl-standard dl{
	margin-left: 30px;
	margin-bottom: 0;
}

/* sshhh, don't tell anyone i'm using errors */
.highlight .err{
	color: #2E17A6;
	background-color: #D2DEE3;
}

a.example {
	border-bottom: 1px dotted #444;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}

a.example[title]:hover:after{
	position: relative;
	content: attr(title);
	position: absolute;
	top: 100%;
	left: 0;
	white-space: nowrap;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 5px;
	border-radius: 2px;
	color: #333;
}

h4 > samp {
	margin-top: 30px;
	display: block;
}

.specifications #table-of-contents li a {
	text-decoration: none;
}